<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.LOCAL_MAC_ADDRESS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_cash"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_cash"
        android:supportsRtl="true"
        android:theme="@style/Theme.InternetFreePaymentGateway.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.menu.CreateAccountApproval"
            android:exported="false" />
        <activity android:name="com.menu.Integrations" />
        <activity android:name="com.menu.profileSettingsPack.PasswordAndSecuritySettings" />
        <activity android:name="com.wallet.WalletStats" />
        <activity android:name="com.wallet.Users" />
        <activity android:name=".NetworkErrorActivity" />
        <activity android:name=".register.ApprovalInProgress" />
        <activity android:name=".register.UserApprovalRegister" />
        <activity android:name="com.menu.Offers" />
        <activity android:name="com.menu.AutomatedPayments" />
        <activity android:name="com.menu.WalletLogs" />
        <activity android:name="com.menu.CreateAccount" />
        <activity android:name="com.menu.ProfileSettings" />
        <activity android:name="com.menu.MainMenu" />
        <activity android:name="com.wallet.CreditAccount" />
        <activity android:name="com.wallet.TransferAccount" />
        <activity android:name=".register.Register" />
        <activity android:name="com.wallet.DebitAccount" />
        <activity android:name="com.wallet.WalletStatsPrediction" />
        <activity android:name=".MainPage" />
        <activity android:name=".login.Login" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="true" />
    </application>

</manifest>